<div class="autent">
	<h1 class="titulo">Nuevo Usuario</h1>
	<%= render 'form' %>
	Al darle al botón Listo! aceptarás los Términos de <b>JAM-Exprésate</b><br><br>
	<div class="terminos">
		<b>Términos de JAM-Exprésate</b><br>
  	<p>
			<b>JAM-Exprésate</b> es un servicio donde puedes expresar tus sentimientos, tus palabras o frases que quieras compartir. Al ser usuario puedes <b>Expresarte</b>, editar tus <b>Expresiones</b>, eliminarlas, ver todas las Expresiones, buscar una en específico, entre otros. Siempre hay que tener en cuenta <b>EL RESPETO HACIA LOS DEMÁS y principalmente hacia DIOS.</b>
		</p>
		<p>
			Cada usuario puede hacer comentarios sobre las <b>Expresiones</b> de otros usuarios y sobre los usuarios mismos.	Cuando un usuario haya hecho un comentario o compartido una <b>Expresión</b> que sea inadecuado(a) se puede reportar al administrador para que éste lo verifique y lo(a) elimine y tome sanciones sobre dicho usuario.
		</p>
		<p>
			El Administrador puede disponer de tus <b>Expresiones</b> y de tu cuenta al haber un 
			comportamiento inadecuado de tu parte. Tu cuenta puede ser bloqueada por el Administrador
			si este lo considera necesario. <br><br><b>Exprésate XD.</b>
		</p>
  </div>
	<br><a class="btn btn-inverse" id="button" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
</div>