<div class="principal2">
	
	<div class="texto2">
		<div class="per"><img src="jam.jpg"></div>
	<p><br><br><br>
		Mi nombre es Javier Midence Estudiante de <br>Ingeniería en Sitemas Computacionales en <br>UNITEC Honduras. <br><br>Soy Hondureño, de Tegucigalpa. Este es mi<br> primer proyecto(aparte de los de la clase de<br>Progamación) que realizo personalmente.
	</p>
	</div><br>
	<br><br><br><h1 class="jam">JAM-<br>Exprésate</h1><br><br><br>
	<div class="icono"></div>
	<div class="container" id="content2">
		<a class="btn btn-info" id="button" href=<%=frases_path%>><i class="icon-eye-open"></i> Ver Expresiones </a>
		<a class="btn btn-inverse" id="button" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
	</div>
</div>