<div class="principal">
	
	<div class="texto">
	<p>
		Correo: 
		<ul>
			<li><a href="mailto:javmidence@yahoo.es" TARGET="_new">javmidence@yahoo.es</a></li>
			<li><a href="mailto:javier.midence@unitec.edu" TARGET="_new">javier.midence@unitec.edu</a></li>
		</ul>
		<br>
		<p>Celular:</p>
		<ul>
			<li>(504)88437893</li>
			<li>(504)31808118</li>
		</ul>
		<br>
		Facebook:
		<ul>
			<li><a href="http://www.facebook.com/jamthebest22" target="_new">Javier Midence </a></li>
			<li><a href="http://www.facebook.com/jamthebest221" target="_new">Jam-Exprésate</a></li>
		</ul>
		<br>
	</p>
	</div>
	<h1 class="jam">JAM-Exprésate</h1>
	<div class="icono"></div>
	<div class="container" id="content2">
		<a class="btn btn-info" id="button" href=<%=frases_path%>><i class="icon-eye-open"></i> Ver Expresiones </a>
		<a class="btn btn-inverse" id="button" href=<%=root_url%>><i class="icon-home icon-white"></i> Inicio </a>
	</div>
</div>