<div class="principal">
	
	<div class="texto">
	<p>
		<b>JAM-Frases</b> es un servicio donde puedes compartir </br>tus frases o las frases de alguien más. Al ser usuario</br> puedes crear <b>Frases</b>, editar tus <b>Frases</b>, eliminarlas,</br> ver todas las frases, buscar una en específico,</br> entre otros.
	</p>
	<p>
		Cada usuario puede hacer comentarios sobre las frases</br> de otros usuarios y sobre los usuarios mismos.	Cuando</br>un usuario haya hecho un comentario o compartido una</br> frase que sea inadecuado(a) se puede reportar al </br>administrador para que éste lo verifique y lo(a) elimine </br>y tome sanciones sobre dicho usuario.
	</p>
	<p>
	</div>
	<h1>JAM-Frases</h1>
	<div class="icono"></div>
	<div class="container" id="content1">
		<a class="btn btn-info" href=<%=frases_path%>><i class="icon-eye-open"></i> Ver Frases </a>
	</div>
</div>