<div class="principal">
	
	<div class="texto">
	<p>
		<b>JAM-Exprésate</b> es un servicio donde puedes expresar </br>tus sentimientos, tus palabras o frases que quieras compartir. </br>Al ser usuario puedes <b>Expresarte</b>, editar tus <b>Expresiones</b>, </br>eliminarlas, ver todas las Expresiones, buscar una en </br>específico, entre otros. Siempre hay que tener en cuenta <br><b>EL RESPETO HACIA LOS DEMÁS y principalmente hacia DIOS.</b>
	</p>
	<p>
		Cada usuario puede hacer comentarios sobre las <b>Expresiones</b></br> de otros usuarios y sobre los usuarios mismos.	Cuando un </br>usuario haya hecho un comentario o compartido una <b>Expresión</b><br> que sea inadecuado(a) se puede reportar al administrador para <br>que éste lo verifique y lo(a) elimine y tome sanciones sobre <br>dicho usuario.
	</p>
	<p>
	</div>
	<h1 class="jam">JAM-Exprésate</h1>
	<div class="icono"></div>
	<div class="container" id="content1">
		<a class="btn btn-info" id="button" href=<%=frases_path%>><i class="icon-eye-open"></i> Ver Expresiones </a>
	</div>
</div>