<div class="principal">
	<div class="texto">
	<p>
		<br><br><br><br><br>
		Comparte lo que sientes!!!
		<br><br><br><br><br>
	</p>
	</div><br>
	<h1 class="jam">JAM-<br>Exprésate</h1><br><br><br>
	<div class="icono"></div>
	<div class="container" id="content1">
		<a class="btn btn-info" id="button" href=<%=frases_path%>><i class="icon-eye-open"></i> Ver Expresiones </a>
	</div>
</div>
<div class="pie">
    <b class="acerca"><%= link_to "Acerca de Mí", about_path %></b>
    <b class="contacto"><%= link_to "Contáctanos", contact_path %></b>
    <b class="contador">
    	<!-- Codigo contadorvisitas.com ver. 4.3 -->
			<script language="javascript" src="http://aux01.contadorgratis.com/hitv4.php?digit=blgrv&page=08c0308eda7751a2930d62e126e57f53"></script>
			<!-- FIN Codigo contadorvisitas.com --></b>
		<b class="gustar">
    	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fjamthebest221&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
    </b>
  </div>