body {
	font-family: times,arial, helvetica,sans-serif;
	font-size: 24px;
	line-height:1.4em;
	background-color:#DCC8B0;
	margin:0;
	padding:0;
}

.session{
	font-family: 'Gentium Basic', serif;
}

.brand{
	font-family: 'Fredericka the Great', cursive;
	font-weight: bolder;
}

#bar{
	font-family: 'Frijole', cursive;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 15px;
}

/*Comienza Aplication/Layouts*/
.ul rig{
	float: right;
}

/*Home*/

div.principal{
	margin: 120px 0px 0px 45px;
	padding: 0px 0px 0px 110px;
}

div.texto{
	font-family: 'Gentium Basic', serif;
	font-size: 13px;
	margin-right: 185px;
	float: right;
	border-left: 1px solid #B6B6B6;
	padding-left: 40px;
}

.jam{
	font-size: 35px;
	font-family: 'Fredericka the Great', cursive;
}

b{ 	font-size: 14px	}
p{ 	text-align: justify;	}
h1{ 	font-size: 48px; text-align: center; }

div#content1{
	margin-top: 22px;
	padding-left: 200px;
}

div.icono{
	background-image:url(Jam-4.png);
	background-repeat: no-repeat;
	background-position: center right;
	width: 200px;
	height: 200px;
}

/*Frase - show*/

div.arriba,div.abajo,div.centro{
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 130%;
	text-align:center;
	border: 0px solid black;
}
div.arriba{
	background-image:url(arriba.jpg);
	padding-top: 120px;
	margin-left: 22px;
}
div.centro{
	background-image:url(Body.jpg);
	background-repeat: repeat-y;
	margin-top: -10px;
	padding: 20px 170px 50px 160px;
	margin-left: 37px;
}
div.abajo{
	background-image:url(abajo.jpg);
	background-position:center bottom;
	height: 120px;
	margin-top: -48px;
}

#subido{
	font-family: 'Berkshire Swash', cursive;
}

#frase{
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 40px;
	margin: 20px 0px;
	line-height: 35pt;
}

#autor{
	font-family: 'Bad Script', cursive;
	margin-left: 350px
}

.review{
	font-family: 'Berkshire Swash', cursive;
}

#cont{
	font-family: 'Fredericka the Great', cursive;
}

p.centro{
	text-align:center;
}

/*User - show*/

div.user{
	font-size: 120%;
}

/*Estos metodos sirven para User - Notificaiones y Frases*/
h1.titulo{
	font-family: 'Fredericka the Great', cursive;
	padding: 15px 200px 8px 0px
}

div.inicio{
	margin-top: 0px;
	padding: 42px 0px 10px 130px;
	background-image:url(inicio.jpg);
}
div.tabla{
	background-image:url(cuerpo.jpg);
	padding: 20px 20px 0px 130px;
	font-family: 'Berkshire Swash', cursive;
}
div.final{
	margin-top: 0px;
	padding: 0px 0px 62px 0px;
	background-image:url(final.jpg);
}

dt{
	font-size: 30px;
	padding: 15px 0px;
}

dd{
	font-size: 25px;
	padding: 15px 0px;
}

/* Este metodo  sirve para Autenticación - Editar Usuario - Crear Usuario - Editar Libros,etc*/
div.autent{
	background-image:url(unico.jpg);
	background-repeat: repeat-y;
	padding: 10px 60px 10px 80px;
}

p.titulo {  	
	width: 600px;
	text-align: center;
	margin-top: 40px;
	padding: 0px 40px 15px 0px;
	font-size: 40px;
	background-color: #F2F2F2;
	border-radius: 5px;
	font-family: 'Bilbo Swash Caps', cursive;
}

.userform, .fraseform{
	font-family: 'Berkshire Swash', cursive;
}

/* Show de User*/
hr{
	width:  80%;
	border: 1px solid gray;
}

div.noti{   float: right;
	margin-right: 150px
}

div.lista{ 	
	margin-left: 115px;
	font-family: 'Berkshire Swash', cursive;
}

.fracont{
	font-size: 18px;
}

div.infor{
	font-size: 25px;
	font-family: 'Love Ya Like A Sister', cursive;
}

.datos{
	font-size: 20px;
	font-family: 'Frijole', cursive;
}

/* Botones */
#button{
	font-family: 'Love Ya Like A Sister', cursive;
	font-family: 'Berkshire Swash', cursive;
	font-size: 15px
}